* {
    padding: 0px;
    margin: 0px;
}


html, body{
    width: 100vw;
    height: 100vh;
}

main h1 {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px black;
}
main {
     background-color: rgba(255, 255, 255, 0.719);
     margin: 20px 20px 0px 20px;
     border-radius:10px;

}

main p {
    font-size: 20px;
    text-align: center;
}

/*versão para impressora*/

@media print {

    body{
        background-image: url(imagens/back-print.jpg);
    }
    main h1{
        color: black;
        text-align: center;
        font-size: 20px;
        text-shadow: none;
    }
    main::after{
        content: 'Esse design foi feito por Matheus Rodrigues Firmino';
    }

    main img {
        margin: auto;
    }
    p{
        display: none;
    }
    img.phone{display: none;}
    img.tablet{display: none;}
    img.pc{display: none;}
    img.print{display: block;}
    img.tv{display: none;}
}
@media screen and (max-width:600px){
    body {
        background-color: darkblue;
    }
    img.phone{display: none;}
    img.tablet{display: none;}
    img.pc{display: none;}
    img.print{display: none;}
    img.tv{display: none;}
}

@media screen and (min-width:600px) and (max-width:767px){
    body {
        background-image: url(imagens/back-phone.jpg);
    }
    main img{
        margin: auto;
    }
    img.phone{display: block;}
    img.tablet{display: none;}
    img.pc{display: none;}
    img.print{display: none;}
    img.tv{display: none;}

    p{display: none;}
}   

@media screen and (min-width: 768px) and (max-width:992px){
    body {
        background-image: url(imagens/back-tablet.jpg);
    }
    main img {
        margin: auto;
    }
    img.phone{display: none;}
    img.tablet{display: block;}
    img.pc{display: none;}
    img.print{display: none;}
    img.tv{display: none;}

    p{display: none;}
}

@media screen and (min-width:993px) and (max-width:1200px){
    body {
        background-image: url(imagens/back-pc.jpg);
        background-position: center center;
    }
    main img {
        margin: auto;
    }
    img.phone{display: none;}
    img.tablet{display: none;}
    img.pc{display: block;}
    img.print{display: none;}
    img.tv{display: none;}
    
    p{
        display: none;
    }
}

@media screen and (min-width:1201px){
    body {
        background-image: url(imagens/back-tv.jpg);
    }
    main img {
        margin: auto;
    }
    img.phone{display: none;}
    img.tablet{display: none;}
    img.pc{display: none;}
    img.print{display: none;}
    img.tv{display: block;}

    p{
        display: none;
    }
}